body {
    background: lightblue;
  }
  
  h3 {
    color: yellow;
  }

  .square {
    background:blue;
    color: white;
    width:1200px;height:100px
  }

  .triangle {
    background:yellow;
    color: grey;
    width:1200px;height:100px
  }

  img src {
    width: 100px; height: 200px;
  }


 